body{
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-size: 16px;
}
#icon_plus{
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 1;
}
#icon_plus a{
    color: #000;
    font-size: 50px;
    background: #fff;
    text-decoration: none;
    border: 1px solid;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    display: block;
}
#nav_icon{
    position: fixed;
    right: 100px;
    top: 130px;
    padding: 15px;
    color: white;
    background: #fff;
    border: 1px solid rgba(37, 58, 68, .15);
    border-radius: 10px;
    z-index: 1;
    display: none
}
#nav_icon ul#nav_list li a{ 
    border-radius: 4px;
    color: #455a64;
    font-size: 17px;
    letter-spacing: .3px;
    text-transform: capitalize;
    padding: 10px 50px;
}
/*header image*/
#header_image{
    background-image: url(../images/jumbo_background.jpg);
   
    color: #fff;
    padding-bottom: 130px
}
#header_image,
#feature_section ,
#download,
#contact{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#header_image .header_content{
    max-width: 500px;
    margin: 0 auto;
}
#header_image .header_content h1{
    text-align: center;
    padding: 17vh 0 0;
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
}
#header_image #paragraph{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
#header_image #paragraph h3{
    text-transform: capitalize;
    font-size: 36px
}
#header_image #paragraph p{
    font-size: 17px;
    letter-spacing: .3px;
    margin: 40px 0;
}
#header_image #feature_link{
    text-align: center;
}
#header_image #feature_link a{
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 19px;
    border: 1px solid #fff;
    background: #fff;
    padding: 15px 35px;
    margin: 15px;
    display: inline-block
}
#header_image #feature_link a i{
    margin: 0 5px;
}
/*feature section */
#feature_section,
#contact{
    background-image: url(../images/pattern_bg.png);
}
#feature_section {
    padding-bottom: 130px
}
#feature_section h1,
#download .header_feature h1,
#contact .header_feature h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 150px
}
#feature_section .feature_content{
    box-shadow: inset 0px 0px 0 10px #ccc;
    background: #fff;
    color: #233842;
    padding: 20px;
    border-bottom: 8px solid #ccc;
    border-top: 10px solid #ccc;
}
#feature_section .feature_content .feature_icon {
    padding: 50px 0 25px
}
#feature_section .feature_content .feature_icon i{
    color: #233842;
    font-size: 55px
}
#feature_section .feature_content p{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: .3px
}
#feature_section .feature_box{
    padding: 40px 0px;
}
#feature_section .feature_box,
#feature_section .feature_content,
#contact .social_media a{
    transition: all .5s;
    -webkit-transition: all 0.5;
	-o-transition: all 0.5;
	-moz-transition: all 0.5;
    -ms-transition: all 0.5;
}
#feature_section .feature_box:hover{padding: 0}
#feature_section .feature_box:hover .feature_content{
    box-shadow: inset 0px 0px 0px 0px #cecece;
    border-bottom: 10px solid #3d799f;
    border-top: 10px solid #3d799f;
    padding: 60px 20px ;
    background: #3399cc;
}
/*download*/
#download{
    background-image: url(../images/download_background.jpg);
}
#download .download_content {
   max-width: 500px;
   width: 100%;
   margin: auto;
}
#download .download_content p{
    letter-spacing: .5px;
}
#download h2{
    text-align: center;
    font-size: 100px
}
#header_image #paragraph p,
#download .download_content p,
#download h2{
    line-height: 2
}
#download a{
    width: 265px;
    display: block;
    margin: 50px auto 100px;
    box-shadow: 0px 8px 8px -4px #000;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition:  all .5s;
    -ms-translation: all .5s;
    -o-transition: all .5s 
}
@media (max-width: 768px) {
    #download a{
        width: 220px;
    }
    #download a img{
    width: 100%
    }
    #download h2{
        font-size: 40px
    } 
}

#download a:hover{
    box-shadow: 0px 0px 0pc 0px 
}
/*contact*/

#contact .contact_content p{
    text-align: center;
    line-height: 2
}
form,
#contact .social_media{
   max-width: 500px;
    margin:0 auto;
    margin-top: 30px
}
#contact .contact_form .input-group{margin-bottom: 30px}
#contact .contact_form .form-control,
#contact .contact_form span{
    background: none;
    border: none;
    border-bottom: 3px solid #fff;
    z-index: 0
}
#contact .contact_form span i{
    color: #fff
}
#contact .contact_form .form-control:focus{ 
    border: none;
    box-shadow: none
}
#contact .contact_form button.form-control{
    color: #fff;
    background: #275267
}
#contact .contact_form button.form-control:focus,
#contact .contact_form button.form-control:hover{
    background: #1c2d35;
}
#contact .social_media a{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    padding: 15px 0;
    margin: 50px 15px
}
#contact .social_media a#social_face{
    background: #4a6fb5
}
#contact .social_media a#social_twit{
    background: #28a9e0
}
#contact .social_media a#social_youtube{
    background: #f86d70
}
#contact .social_media a#social_insta{
    background: #cab9a9
}
#contact .social_media i{
    color: #fff;
    font-size: 40px
}
#contact .social_media a:hover {
    transform: rotate(360deg);
}
#contact .social_media a:hover i{
    color: #223741
}
/*footer*/
footer p{
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    color: rgba(66, 61, 61, 0.6);
    line-height: 2;
    margin: 50px auto;
    letter-spacing: .3px;
}